# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
/hide-posts-extension.iml
/modules.xml
/vcs.xml
/codeStyles/codeStyleConfig.xml
/prettier.xml
/jsLibraryMappings.xml
